#APP
SERVICE_NAME=auth
APP_VERSION=1.0.0
# SERVER
SERVER_PORT=8080
SERVER_HOST=0.0.0.0
SERVER_READ_TIME=60s
SERVER_WRITE_TIME=60s

# DB
DB_HOST=localhost         #for docker hostname: db            
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=jwt-service
DB_SSL_MODE=disable

# Logs
LOG_LEVEL=debug

# JWT
JWT_SECRET=supersecretjwt      
